@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

a:hover:not(.thisMonth) {
    text-decoration: none;
    color: black;
}

.thisMonth:hover {
    color: black;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/cold-conifer-dawn-917494.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    background-color: rgba(255, 255, 255, .7);
    height: 100%;
    width: 60%;
    float: left;
}

.date {
    font-weight: bold;
    line-height: 50px;
}

.calendar {
    margin-top: 20px;
}

.main-calendar {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    background-color: white;
}

.thisMonth {
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.calendar > h3 > a:not(.thisMonth) {
    color: black;
    cursor: pointer;
}


th {
    text-align: center;
}

th.main {
    height: 20px;
    text-align: center;
    font-weight: 700;
    color: white;
    width: 14.285714286%;
}

td.main {
    height: 100px;
    width: 14.285714286%;
}

th:nth-child(-n+5) {
    background-color: rgb(88, 76, 145);
}

th:nth-child(5n+6),
th:nth-child(5n+7) {
    background-color: rgb(143, 140, 140);
}

.today {
    background-color: rgb(247, 190, 67);
    color: white;
}

.box {
    width: 40%;
    float: left;
    background-color: rgba(255, 255, 255, .9);
    height: 100%;
    text-align: center;
    font-size: 20px;
    border-left: 4px solid #999999;
    justify-content: center;
}

.closeEventMenu {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.addEventMenu {
    margin-top: 100px;
    display: none;
    background-color: transparent;
    height: 60%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 28px -4px rgba(0,0,0,0.56);
}

.addEventBtn {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    border: none;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

input:not(.eventColor), textarea {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    resize: none;
    width: 80%;
    margin-bottom: 20px;
}

input[type=time] {
    text-align: center;
    width: 20%;
}